<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Weather App</title>
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
</head>

<body>
  <div id="app">
    <div class="select_city">
    <h1>Weather App</h1>
    <select v-model="selectedCity">
      <label for="tokyo"></label><option disabled value="">Select</option></label>
      <option value="tokyo">Tokyo</option>
      <option value="osaka">Osaka</option>
      <option value="fukuoka">Fukuoka</option>
      <option value="oita">Oita</option>
      <option value="okinawa">Okinawa</option>
    </select>
    <button v-on:click="getWeather()">Get Weather</button>
    <!-- methodsのときは（）をつける -->
    </div>

    <div class="weather">
      <!-- getWeatherが呼ばれたら天気を表示する -->
      <p class="weather_city">
        {{ city }}
      </p>
      <p class="weather_info">
        {{ condition.main }}
      </p>
      <p class="weather_temp" v-if="getWeather">
        {{ temp }}&#8451;
      </p>
    </div>
    <pre> {{ $data }} </pre>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        selectedCity: '',
        city: '',
        temp: null,
        condition: {
          main: null
        },
      },
      methods: {
        getWeather: function (event) {
          var getUrl = "https://api.openweathermap.org/data/2.5/weather?q=";
          var getParam = ",jp&units=metric&appid=b10746358fef8f5d35507f4fd9a84816";
          getUrl = getUrl + this.selectedCity + getParam;
          axios.get(getUrl)
            .then(function (response) {
              this.city = response.data.name
              this.temp = response.data.main.temp
              this.condition = response.data.weather[0]
              console.log(response);
            }.bind(this))
            .catch(function (error) {
              console.log(error)
            })
          console.log(event);
        }
      }
    })
  </script>



</body>

</html>