<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title></title>
  </head>
  <body>
    <div id="app">
      <h1>My Notes</h1>
        <form v-on:submit.prevent="addItem">
          <input type="text" v-model="newItem">
          <input type="submit" value="create">
        </form>
        <ul>
          <li v-for="(note, index) in notes">{{ note }}
          <div v-on:click="deleteItem(index)" class="delete"><img src="img/delete-icon.png" alt=""></div>
          </li>
        </ul>
    </div>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          newItem: "",
          notes: [
          ]
        },
        methods: {
          addItem: function(){
            this.notes.push(this.newItem);
            this.newItem = "";
          },
          deleteItem: function(index){
            this.notes.splice(index);
          }
        }
      })
    </script>
  </body>
</html>
